<div class="container">
  <!-- This is a row -->
  <div class="row justify-content-center align-items-center">
    <!-- Now making some columns inside this row -->
    <!-- Left Side Part -->
    <div class="col col-lg-6">
      <div class="text-center">
        <!-- Property Binding -->
        <h1 [hidden] = "isCross" class="uppercase text-danger">Player One Turn</h1>
        <h1 [hidden] = "!isCross" class="uppercase text-danger">Player Two Turn</h1>
      </div>

      <!-- div handling tic-tac-toe board part -->
      <div class="grid">
        <!-- In angular anything inside " " is run as code -->
        <!-- *ngFor means that everything inside it will become iterable -->
        <div *ngFor=" let item of itemArray; index as i ">
          <div class="card">
            <!-- grabbing index of each item -->
            <div class="card-box box" (click)="handleClick(i)">
              <!-- Property Binding -->
              <!-- Passing data to child component from parent component -->
              <app-icon [iconName]='item'></app-icon>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Right side part -->
    <div class="col col-lg-6 text-center" *ngIf="winMessage">
      <h1 class="text-uppercase pb-5"> Game Over! <br /> {{winMessage}}</h1>
      <button 
      (click)="reloadGame()" 
      class="btn btn-danger text-uppercase pl-5 pr-5">
        Reload Game
      </button>
    </div>
  </div>
</div>